TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
DEV_ENV_LLM=llama3:8b       # Default LLM for development environment
PROD_ENV_LLM="gpt-4o-mini"  # Default LLM for production environment
WHISPER_MODEL=small         # Default STT model for development environment
DEFAULT_LANGUAGE=pt
ENVIRONMENT=development     # Set to "production" in production environment

# LLM_SSH=
# LLM_PUB_KEY=
